
arlas-timeline .arlas-time--tools .shortcut-button,
arlas-timeline .arlas-time--tools .arlas-date-picker-input-from,
arlas-timeline .arlas-time--tools .arlas-date-picker-input-to {
  background-color: #ff4081;
}



/* Slider toggle */
html .mat-mdc-slide-toggle.mat-accent {
  /* For the handle */
  /* --mdc-switch-selected-focus-state-layer-color: #76880e;
  --mdc-switch-selected-handle-color: #76880e;
  --mdc-switch-selected-hover-state-layer-color: #76880e;
  --mdc-switch-selected-pressed-state-layer-color: #76880e;
  --mdc-switch-selected-focus-handle-color: #76880e;
  --mdc-switch-selected-hover-handle-color: #76880e;
  --mdc-switch-selected-pressed-handle-color: #76880e; */

  /* For the track */
  --mdc-switch-selected-focus-track-color: #ff4081;
  --mdc-switch-selected-hover-track-color: #ff4081;
  --mdc-switch-selected-pressed-track-color: #ff4081;
  --mdc-switch-selected-track-color: #ff4081;
}

/* Radio button */
html .mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: #ff4081;
  --mdc-radio-selected-hover-icon-color: #ff4081;
  --mdc-radio-selected-icon-color: #ff4081;
  --mdc-radio-selected-pressed-icon-color: #ff4081;
  --mat-radio-checked-ripple-color: #ff4081;
}

html {
  /* Input */
  --mdc-filled-text-field-caret-color: #ff4081;
  --mdc-filled-text-field-focus-active-indicator-color: #ff4081;
  --mdc-filled-text-field-focus-label-text-color: #ff4081;
  --mat-option-selected-state-label-text-color: #ff4081;
  --mat-select-focused-arrow-color: #ff4081;

  /* Checkbox */
  --mdc-checkbox-selected-focus-icon-color: #ff4081;
  --mdc-checkbox-selected-hover-icon-color: #ff4081;
  --mdc-checkbox-selected-icon-color: #ff4081;
  --mdc-checkbox-selected-pressed-icon-color: #ff4081;
  --mdc-checkbox-selected-focus-state-layer-color: #ff4081;
  --mdc-checkbox-selected-hover-state-layer-color: #ff4081;
  --mdc-checkbox-selected-pressed-state-layer-color: #ff4081;

  /* Datepicker & ARLAS components */
  --arlas-theme-color: #ff4081;
}

/* Spinner */
html .mat-accent {
  --mdc-circular-progress-active-indicator-color: #ff4081;
}

/* ARLAS specific components */
/* Map */
.mapgl-settings__actions .mapgl-settings__actions--apply {
  --mdc-text-button-label-text-color: #ff4081;
}

/* Layer download */
arlas-admonition-card .admonition {
  border-color: #ff4081 !important;
}
arlas-admonition-card .admonition-title {
  background-color: #ff40814d !important;
}
