.env
.DS_Store
conf/aias/roles.yaml
conf/apisix/apisix.yaml
conf/server-ks.crt
conf/server-ks.key
conf/server-ks.csr
conf/truststore-ks.p12
conf/arlas-ks.jks
conf/apisix/apisix.yaml
conf/apisix/apisix.template.yaml
conf/apisix/domains.generated.ext
conf/apisix/apisix.template.yaml
conf/apisix/apisix.generated.yaml
conf/apisix/apisix.generated.tmp.yaml
sample/dashboard.generated.json
docker-compose-config.yaml
tmp/
docker-compose.env
target
/charts/

__pycache__/
*.py[cod]
*$py.class
.sonarlint/
.vscode/
conf/custom.env
*.lock
k8s/charts/arlas-stack/Chart.lock
k8s/charts/arlas-stack/charts
k8s/charts/arlas-stack/templates/*-certificate-configmap.yaml
custom_values.yaml
